<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
    <script src="https://kit.fontawesome.com/b41a748a30.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" href="./img/logo.png" type="image/x-icon">
    <title>After School Club</title>
</head>

<body>

    <div id="app">
        <nav>
            <h1 v-text="sitename"></h1>
            <button class="checkout" v-if="cartItemCount > 0" @click="showCheckOut"><span class="qty">{{cartItemCount}}</span>
                <i class="fa-solid fa-cart-shopping"></i>
                Checkout
            </button>
            <button class="checkout-disabled" disabled="disabled" v-else>
                <i class="fa-solid fa-cart-shopping"></i>
                Checkout
            </button>
        </nav>
        <main>
            <div class="container" v-if="showProduct">
                <div v-for="product in products" class="row product">
                    <div class="col col-expand">

                        <p><strong>Subject: </strong>{{product.subject}}</p>
                        <p><strong>Location: </strong> {{product.location}}</p>
                        <p><strong>Price: </strong>{{product.price | formatPrice}}</p>
                        <p><strong>Spaces available: </strong>{{product.spaces}}</p>
                    </div>
                    <div class="col">
                        <figure>
                            <img v-bind:src="product.img" v-bind:alt="product.imgAlt">
                        </figure>

                    </div>

                    <button class="add-btn" v-on:click="addToCart(product)" v-if="canAddToCart(product)">
                        Add to Cart
                    </button>
                    <button class="disabled" disabled='disabled' v-else>
                        Add to Cart
                    </button>
                </div>
            </div>
            <div class="checkout-page" v-else>
                <div class="details-container">
                    <h2>Enter your details</h2>
                    <div class="first-name">
                        <label for="first-name">First Name</label>
                        <input type="text" name="first_name" placeholder="First name">
                    </div>
                    <div class="last-name">
                        <label for="last-name">Last Name</label>
                        <input type="text" name="last_name" placeholder="Last name">
                    </div>
                    <div class="address">
                        <label for="address">Address</label>
                        <input type="text" class="address" name="address" id="address" placeholder="Address">
                    </div>
                    <div class="postcode">
                        <label for="postcode">Post Code</label>
                        <input type="text" class="postcode" name="postcode" id="postcode" placeholder="Post Code">
                    </div>
                    <div class="city">
                        <label for="city">City</label>
                        <input type="text" class="city" name="city" id="city" placeholder="City">
                    </div>
                    <div class="selectCounttry">
                        <label for="country">Country</label>
                        <select class="country" name="country" id="">
                            <option value="uk">United kingdom</option>
                        </select>
                    </div>
                    </div>
                </div>
            </div>

        </main>
    </div>


    <script src="script.js"></script>
</body>

</html>