@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Open+Sans:wght@400;600&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'AR One Sans', sans-serif;
    display: flex;
    flex-direction: row;
    font-size: 1em;
    background-color: rgb(255, 255, 255);
    overflow: scroll;
}

#app {
    margin: auto;
    width: 100%;
    }

nav {
    background-color: rgba(180, 188, 225, 0.605);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px;
}

nav h1 {
    margin: 0;
    padding: 10px 0 10px 0;
}

main{
    margin: auto;
    width: 100%;
    margin: 50px auto 50px auto;
}

.container {
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 4fr));
    column-gap: 10px;
    row-gap: 10px;
}

.row {
    display: grid;
    grid-template-columns: auto 2fr;
    justify-content: space-between;
    border: solid 2px rgba(34, 33, 33, 0.626);
    max-width: 500px;
    border-radius: 10px;
    padding: 20px;
}

.col {
    display: flex;
    flex-direction: row;
}

.col-expand{
    display: flex;
    flex-direction: column;
}

.add-btn{
    background-color: rgb(86, 104, 184);
    color: white;
    padding: 10px;
    border: none;
    font-size: 1.2em;
    border-radius: 20px;
    cursor: pointer;
}

button.checkout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding:5px;
    width: 170px;
    background-color: rgb(86, 104, 184);
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}

.qty{
    padding: none;
    margin: none;
    font-size: 1em;
}
.fa-cart-shopping{
    padding: 5px;
    /* font-size: 14px; */
    margin-right: 5px;
}
.add-btn:hover, .checkout:hover{
    background-color: rgba(86, 104, 184, 0.929);
}

.disabled{
    background-color: rgb(86, 104, 184);
    color: white;
    padding: 10px;
    border: none;
    font-size: 1.2em;
    border-radius: 20px;
    opacity:50%;
}

figure img {
    min-width: 100px;
    max-width: 150px;
    border-radius: 10px;
}

