@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans&family=Open+Sans:wght@400;600&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'AR One Sans', sans-serif;
    display: flex;
    flex-direction: row;
    font-size: 1em;
    background-color: rgb(255, 255, 255);
    overflow: scroll;
}

#app {
    margin: auto;
    width: 100%;
    }

nav {
    background-color: rgba(180, 188, 225, 0.605);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px;
}

nav h1 {
    margin: 0;
    padding: 10px 0 10px 0;
}

main{
    margin: auto;
    width: 100%;
    margin: 50px auto 50px auto;
    height: 100%;
}

.container {
    margin: auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 4fr));
    justify-content: space-between;
    column-gap: 10px;
    row-gap: 10px;
}

.row {
    display: grid;
    grid-template-columns: auto 2fr;
    justify-content: space-between;
    border: solid 2px rgba(0, 0, 0, 0.626);
    max-width: 500px;
    border-radius: 10px;
    padding: 20px;
}

.col {
    display: flex;
    justify-content: end;
    flex-direction: row;
}

.col img {
    width: 150px;
}
.col-expand{
    display: flex;
    flex-direction: column;
}

.add-btn{
    background-color: rgb(86, 104, 184);
    color: white;
    padding: 10px;
    border: none;
    font-size: 1.2em;
    border-radius: 20px;
    cursor: pointer;
    max-width: 150px;
}

button.checkout{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding:5px;
    width: 170px;
    background-color: rgb(86, 104, 184);
    color: white;
    font-size: 1.2em;
    cursor: pointer;
}

.checkout-disabled{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 5px;
    padding:5px;
    width: 170px;
    background-color: rgb(86, 104, 184);
    color: white;
    font-size: 1.2em;
    opacity: 50%;
}

.qty{
    padding: none;
    margin: none;
    font-size: 1em;
}
.fa-cart-shopping{
    padding: 5px;
    margin-right: 5px;
}
.add-btn:hover, .checkout:hover{
    background-color: rgba(86, 104, 184, 0.929);
    
}

.disabled{
    background-color: rgb(86, 104, 184);
    color: white;
    padding: 10px;
    border: none;
    font-size: 1.2em;
    border-radius: 20px;
    opacity:50%;
}

.checkout-page {
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 0;
}

.details-container {
    width: 60%;
    margin: auto;
    height: 70%;
    background-color: rgb(225, 225, 225);
    /* padding: 20px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.details-container input {
    min-width: 500px;
    height: 25px;
    border-radius: 5px;
    border: none;
    outline-color:rgb(86, 104, 184) ;

}



.details-container label {

    margin-left: 2px;
}


.first-name {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
.last-name {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.address {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.postcode{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.city {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;

}
.selectCounttry {
    display: flex;
    flex-direction: column;
    min-width: 509px;
    height: 30px;
    margin-bottom: 5px;

}

.country  {
    font-size: 14px;
    padding: 5px;
    border-radius: 5px;
    outline-color:rgb(86, 104, 184) ;

}